<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<% if (user.role == "Admin") { %>
  <h2>Your role is administrator.</h2>
  <h3>Current active sessions:</h3>
<% } %>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>